@using DivvyUp_Shared.Dtos.Request
<RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" class="w-100 h-100">
    <RadzenCard Variant="Variant.Filled" Style="width: 60%; max-width: 600px; background-color: #ffffff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 12px;">
        <RadzenFieldset Text="Informacje o koncie" class="form">
            <RadzenTemplateForm TItem="EditUserDto" Data="@EditData" Submit="@OnSubmit" InvalidSubmit="@OnInvalidSubmit">
            <RadzenStack>
                <div class="section">
                    <b class="name-section">Nazwa</b>
                    <RadzenTextBox class="section-input" @bind-Value="@EditData.Username" Style="padding: 12px;" Name="Username"/>
                </div>
                <RadzenRequiredValidator Component="Username" Text="Nazwa jest wymagana" Style="margin-top: -10px; background: white;" Popup="false" />
                    <RadzenLengthValidator Component="Username" Min="4" Max="20" Text="Nazwa musi się składać z 4 - 20 liter " Style="margin-top: -10px; background: white;" Popup="false" />
            </RadzenStack>
            <RadzenStack>
                <div class="section">
                    <b class="name-section">Imię</b>
                    <RadzenTextBox class="section-input" @bind-Value="@EditData.Name" Style="padding: 12px;" Name="Name"/>
                </div>
                <RadzenRequiredValidator Component="Name" Text="Imię jest wymagana" Style="margin-top: -10px; background: white;" Popup="false" />
            </RadzenStack>
            <div class="section">
                <b class="name-section">Nazwisko</b>
                <RadzenTextBox class="section-input" @bind-Value="@EditData.Surname" Style="padding: 12px;"/>
            </div>
            <RadzenStack>
                <div class="section">
                    <b class="name-section">Email</b>
                    <RadzenTextBox class="section-input" @bind-Value="@EditData.Email" Style="padding: 12px;" Name="Email"/>
                </div>
                <RadzenRequiredValidator Component="Email" Text="Email jest wymagana" Style="margin-top: -10px; background: white;" Popup="false" />
                <RadzenEmailValidator Component="Email" Text="Email jest nie poprawny" Style="margin-top: -10px; background: white;" Popup="false" />
            </RadzenStack>
            <div class="button-section" style="justify-content: center;">
                <RadzenButton class="du-button" Style="margin-top: 20px; width: 87%; background-color: #4caf50; color: white; border-radius: 8px;" Text="Zapisz" ButtonStyle="ButtonStyle.Success" ButtonType="ButtonType.Submit" />
            </div>
            <div class="button-section">
                <RadzenButton class="du-button" Style="margin-top: 20px; width: 48%; background-color: #6a11cb; color: white; border-radius: 8px;" Text="Zmień hasło" ButtonStyle="ButtonStyle.Light" Click="ChangePassword"/>
                <RadzenButton class="du-button" Style="margin-top: 20px; width: 48%; background-color: #d32f2f; color: white; border-radius: 8px;" Text="Usuń konto" ButtonStyle="ButtonStyle.Danger" Click="RemoveUser"/>
            </div>
            </RadzenTemplateForm>
        </RadzenFieldset>
    </RadzenCard>
</RadzenStack>

<style>
    .form {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .name-section {
        font-weight: bold;
        color: #6a11cb;
        font-size: 1.2rem;
        width: 30%;
    }

    .section-input {
        width: 70%;
        font-size: 1rem;
    }

    .button-section {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
    }

    .button-section RadzenButton {
        width: 48%;
    }

    .section input {
        border-radius: 8px;
        padding: 12px;
        border: 1px solid #dcdcdc;
        background-color: #f8f8f8;
    }

    .section input:focus {
        border-color: #6a11cb;
        background-color: #ffffff;
    }
</style>
