@using DivvyUp_Shared.AppConstants
@using DivvyUp_Shared.Dto

<RadzenDialog />
<RadzenDataGrid @ref="@Grid"
                Data="@Products"
                TItem="ProductDto"
                AllowSorting="true"
                AllowAlternatingRows="true"
                FilterMode="FilterMode.Simple"
                AllowFiltering="true"
                LogicalFilterOperator="LogicalFilterOperator.Or"
                AllowPaging="true"
                PagerAlwaysVisible="true"
                PageSize="5"
                PageSizeOptions="@PageSizeOptions"
                PagerHorizontalAlign="HorizontalAlign.Center"
                ShowPagingSummary="true"
                EditMode="DataGridEditMode.Single"
                GridLines="DataGridGridLines.Both">
    <HeaderTemplate>
        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle" Text="Dodaj produkt" Click="InsertRow" />
        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="add_circle" Text="Odśwież" Click="LoadGrid" />
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="receipt_long" Text="Powrót do rachunków" Click="@(() => { Navigation.NavigateTo("/receipt"); } )" />
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn Title="Zarządzanie" Width="12%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="product">
                <RadzenButton class="button" Icon="edit" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => EditRow(product))" />
                <RadzenButton class="button" Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@((args) => RemoveRow(product.id))" />
            </Template>
            <EditTemplate Context="product">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Click="@((args) => SaveRow(product))" />
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Danger" Click="@((args) => CancelEdit(product))" />
            </EditTemplate>
            <FilterTemplate>
                <RadzenButton class="button" Icon="filter_alt_off" ButtonStyle="ButtonStyle.Dark" Click="@(args => { Grid.Reset(); })" />
            </FilterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ProductDto.settled)" Title="Rozliczono" Width="7%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="product">
                <RadzenCheckBox class="button" @bind-Value="@product.settled" Change="@(async (bool Check) => await ChangeSettled(product.id, product.settled))" />
            </Template>
            <EditTemplate Context="product">
                <RadzenCheckBox style="opacity: 0.6; " class="button" Value="@product.settled" ReadOnly="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ProductDto.divisible)" Title="Podzielność" Width="7%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="product">
                <RadzenCheckBox class="button" @bind-Value="@product.divisible" ReadOnly="true" />
            </Template>
            <EditTemplate Context="product">
                <RadzenCheckBox class="button" @bind-Value="@product.divisible" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ProductDto.name)" Title="Nazwa" Width="20%" TextAlign="TextAlign.Start" Frozen="true">
            <EditTemplate Context="product">
                <RadzenTextBox @bind-value="@product.name" Style="width: 100%;" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ProductDto.price)" Title="Kwota" Width="12%" TextAlign="TextAlign.Start" Frozen="true">
            <Template Context="product">
                <div style="color: @(product.settled ? "green" : "red")">
                    <b>@product.price.ToString((Format.PriceFormat))</b>
                </div>
            </Template>
            <EditTemplate Context="product">
                <RadzenNumeric @bind-Value="@product.price" Style="width: 100%;" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ProductDto.maxQuantity)" Title="Ilość osób" Width="8%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="product">
                @if (product.divisible)
                {
                    @product.maxQuantity
                }
                else
                {
                    <div>-</div>
                }
            </Template>
            <EditTemplate Context="product">
                @if (product.divisible)
                {
                    <RadzenNumeric @bind-Value="@product.maxQuantity" />
                }
                else
                {
                    product.maxQuantity = 1;
                    <div>-</div>                    
                }
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ProductDto.compensationPrice)" Title="Wyrównanie" Width="8%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="product">
                @if (product.divisible)
                {
                    @product.compensationPrice.ToString(Format.PriceFormat)
                }
                else
                {
                    <div>-</div>
                }
            </Template>
            <EditTemplate>
                -
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ProductDto.persons)" Title="Osoby" Width="15%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="product">
                @if (product.divisible)
                {
                    <RadzenButton Click="@(async () => { await ManagePerson(product.id); })" Style="width: 100%;">
                        @if (product.persons != null && product.persons.Count() > 0)
                        {
                            <div style="display: flex; flex-direction: column;">
                                @foreach (var person in product.persons)
                                {
                                    <div>@($"{person.name} {person.surname}")</div>
                                }
                            </div>
                        }
                    </RadzenButton>
                }
                else
                {
                    @if (product.persons != null && product.persons.Count() > 0)
                    {
                        PersonDto person = product.persons.First();

                        <RadzenDropDownDataGrid TValue="PersonDto"
                                                Value="person"
                                                ValueChanged="async(PersonDto person) => await OnPersonChange(product.id, person)"
                                                Data="@Persons"
                                                TextProperty="@nameof(PersonDto.fullName)" />
                    }
                }
            </Template>
            <EditTemplate Context="product">
                @if (Persons.Count > 0 && !product.divisible)
                {
                    if (product.id != 0 && product.persons != null && product.persons.Count() > 0)
                    {
                        PersonDto person = product.persons.First();

                        <RadzenDropDownDataGrid TValue="PersonDto"
                                                Value="person"
                                                ValueChanged="async(PersonDto person) => await OnPersonChange(product.id, person)"
                                                Data="@Persons"
                                                TextProperty="@nameof(PersonDto.fullName)" />
                    }
                    else
                    {
                        <RadzenDropDownDataGrid TValue="PersonDto"
                                                Value="SelectedPerson"
                                                ValueChanged="OnPersonSet"
                                                Data="@Persons"
                                                TextProperty="@nameof(PersonDto.fullName)" />
                    }
                }
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

<style>
    .button {
        width: 36px;
        height: 36px;
    }

    .rz-cell-filter-content {
        display: flex;
        justify-content: center
    }
</style>