@inherits LayoutComponentBase
@using Radzen.Blazor


<div style="margin-bottom: 200px;">
    <RadzenMenu Style="flex-grow: 1;">
        <RadzenMenuItem Text="Strona Główna" Path="/" Icon="home"></RadzenMenuItem>
        <RadzenMenuItem Text="Rachunki" Path="/receipt" Icon="receipt_long" Visible="@UserService.IsLoggedIn()"></RadzenMenuItem>
        <div style="display: flex; flex-direction: row; margin-left: auto;">
            <RadzenMenuItem Text="Logowanie" Path="/login" Icon="login" Visible="@(!UserService.IsLoggedIn())"></RadzenMenuItem>
            <RadzenMenuItem Text="Rejestracja" Path="/register" Icon="input" Visible="@(!UserService.IsLoggedIn())"></RadzenMenuItem>
            <RadzenMenuItem Text="Wyloguj się" Icon="logout" Click="@Logout" Visible="@(UserService.IsLoggedIn())"></RadzenMenuItem>
        </div>
    </RadzenMenu>
    @Body
</div>

<style>
    .navbar-toggler.px-2 {
        display: none;
    }
</style>