@using DivvyUp_Shared.AppConstants
@using DivvyUp_Shared.Dtos.Entity
@using DivvyUp_App.BaseComponents.DLoadingPanel

<div class="h-100 w-100">
    <DLoadingPanel IsLoading="@IsLoading" Size="ProgressBarCircularSize.Medium"/>
    <RadzenDataGrid @ref="@Grid"
                    Data="@PersonProducts"
                    TItem="PersonProductDto"
                    AllowSorting="true"
                    AllowAlternatingRows="true"
                    FilterMode="FilterMode.Simple"
                    AllowFiltering="true"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    AllowPaging="true"
                    PagerAlwaysVisible="true"
                    PageSize="10"
                    PageSizeOptions="@PageSizeOptions"
                    PagerHorizontalAlign="HorizontalAlign.Center"
                    ShowPagingSummary="true"
                    EditMode="DataGridEditMode.Single"
                    GridLines="DataGridGridLines.Both">
        <HeaderTemplate>
            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="refresh" Text="Odśwież" Click="@LoadGrid" />
        </HeaderTemplate>
        <EmptyTemplate>
            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">Brak wpisów</p>
        </EmptyTemplate>
        <Columns>
            <RadzenDataGridColumn Title="Zarządzanie" Width="15%" TextAlign="TextAlign.Center" Frozen="true">
                <Template Context="personProduct">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => EditRow(personProduct))" />
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@((args) => RemoveRow(personProduct))" />
                </Template>
                <EditTemplate Context="personProduct">
                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Danger" Click="@(async(args) => await CancelEdit(personProduct))" />
                </EditTemplate>
                <FilterTemplate>
                    <div class="rz-cell-data">
                        <RadzenButton Icon="filter_alt_off" ButtonStyle="ButtonStyle.Dark" Click="@(args => { Grid.Reset(); })" />
                    </div>
                </FilterTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(PersonProductDto.Settled)" Title="Rozliczono" Width="15%" TextAlign="TextAlign.Center" Frozen="true">
                <Template Context="personProduct">
                    <RadzenCheckBox class="grid-button" @bind-Value="@personProduct.Settled" Change="@(async (bool check) => await ChangeSettled(personProduct.Id, personProduct.Settled))" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(PersonProductDto.Quantity)" Title="Ilość" Width="15%" TextAlign="TextAlign.Center" Frozen="true">
                <Template Context="personProduct">
                    @*
                        @($"{personProduct.Quantity}/{personProduct.MaxQuantity}")
                    *@
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(PersonProductDto.PartOfPrice)" Title="Cena" Width="15%" TextAlign="TextAlign.Center" Frozen="true">
                <Template Context="personProduct">
                    <div style="color: @(personProduct.Settled ? "green" : "red")">
                        <b>@personProduct.PartOfPrice.ToString(Format.PriceFormat)</b>
                    </div>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>
