@using DivvyUp_Shared.Dtos.Request
<div class="main-container">
    <RadzenTemplateForm TItem="LoginUserDto" Data="@LoginData" Submit="@OnSubmit" InvalidSubmit="@OnInvalidSubmit" class="form-container">
        <h2 class="custom-header">Zaloguj się</h2>
        <RadzenStack class="input">
            <RadzenFormField Text="Nazwa użytkownika">
                <RadzenTextBox @bind-Value="@LoginData.Username" class="form-input" Name="Username" />
            </RadzenFormField>
            <RadzenRequiredValidator Component="Username" Text="Nazwa jest wymagane" Popup="false" class="custom-validator" />
        </RadzenStack>
        <RadzenStack class="input">
            <RadzenFormField Text="Hasło">
                <RadzenPassword @bind-Value="@LoginData.Password" class="form-input" Name="Password" />
            </RadzenFormField>
            <RadzenRequiredValidator Component="Password" Text="Hasło jest wymagane" Popup="false" class="custom-validator"  />
        </RadzenStack>
        <RadzenButton class="custom-button" Style="background-color: #6a11cb; margin-top: 20px;" Text="Zaloguj się" ButtonType="ButtonType.Submit" />
        <RadzenButton class="custom-button" Style="background-color: #2575fc; margin-top: 10px;" Text="Zarejestruj się" Click="@(() => Navigation.NavigateTo("/register"))" />
    </RadzenTemplateForm>
</div>

<style>
    .input {
        width: 100%;
    }

    .input input, .input .rz-input, .input .rz-password {
        border-radius: 8px;
        padding: 12px;
        width: 100%;
        box-sizing: border-box;
        font-size: 1rem;
        transition: border 0.3s ease;
    }

    .input input:focus, .input .rz-input:focus, .input .rz-password:focus {
        border-color: #6a11cb;
        box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
    }

    .rz-button {
        font-size: 1.1rem;
        font-weight: bold;
        padding: 14px 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .rz-button:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .form-input{
        border-radius: 8px;
        padding: 12px;
        width: 100%;
        box-sizing: border-box;
    }

    .main-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f5;
    }

    .form-container {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .custom-header {
        text-align: center;
        font-size: 2.5rem;
        color: #686868;
        margin-bottom: 30px;
        font-weight: bold;
    }

    .custom-button {
        width: 100%;
        background-color: #2575fc;
        color: white;
        border-radius: 8px;
    }
</style>