@using DivvyUp_Web.Api.Dtos

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Simple" EditMode="DataGridEditMode.Single" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="true"
                Data="@Receipts" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" @ref="receiptGrid" TItem="ReceiptDto">
    <HeaderTemplate>
        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle" Text="Dodaj rachunek" Click="@InsertRow"  />
        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="add_circle" Text="Odśwież" Click="@LoadGrid"  />
    </HeaderTemplate>
    <Columns>
        
        <RadzenDataGridColumn Property="@nameof(ReceiptDto.settled)" Title="Zarządzanie" Width="10%" TextAlign="TextAlign.Center" Filterable="false" Frozen="true">
            <FilterTemplate>
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle" Text="Dodaj rachunek" Click="@InsertRow"/>
            </FilterTemplate>
            <Template Context="receipt">
                <RadzenButton class="button" Icon="play_arrow" ButtonStyle="ButtonStyle.Primary" />
                <RadzenButton class="button" Icon="edit" ButtonStyle="ButtonStyle.Secondary" Click="@(args => EditRow(receipt))"/>
                <RadzenButton class="button" Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@((args) => RemoveReceipt(receipt.receiptId))"/>
            </Template>
            <EditTemplate Context="receipt">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Click="@((args) => SaveRow(receipt))"/>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Danger" Click="@((args) => CancelEdit(receipt))"/>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Title="Rozliczono" Width="10%" TextAlign="TextAlign.Center" Filterable="false" Frozen="true">
            <Template Context="receipt">
                <RadzenCheckBox class="button" @bind-Value="@receipt.settled" Change="@(async (bool Check) => await SetSettled(receipt.receiptId, receipt.settled))" />
            </Template>
            <EditTemplate Context="receipt">
                <RadzenCheckBox style="opacity: 0.6; " class="button" Value="@receipt.settled" ReadOnly="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ReceiptDto.receiptName)" Title="Nazwa" Frozen="true" Width="30%">
            <EditTemplate Context="receipt">
                <RadzenTextBox @bind-value="receipt.receiptName" Style="width: 100%;"/>
            </EditTemplate>
            <Template Context="receipt">
                @receipt.receiptName
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ReceiptDto.date)" Title="Data" Frozen="true" Width="25%" FilterMode="FilterMode.SimpleWithMenu">
            <Template Context="receipt">
                @receipt.date.ToString("dd.MM.yyyy")
            </Template>
            <EditTemplate Context="receipt">
                @{
                    if (receipt.date == default(DateTime))
                    {
                        receipt.date = DateTime.Now;
                    }
                }
                <RadzenDatePicker @bind-Value="receipt.date" ShowCalendarWeek DateFormat="dd.MM.yyyy" Style="width: 100%;"/>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ReceiptDto.totalAmount)" Title="Kwota" Frozen="true" Width="25%">
            <Template Context="receipt">                
                <div style="color: @(receipt.settled ? "green" : "red")">
                    <b>@(receipt.totalAmount)zł</b>
                </div>
            </Template>
            <EditTemplate Context="receipt">
                -
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

<style>
    .button {
        width: 36px;
        height: 36px;
    }
</style>