@using DivvyUp.Shared.Dto

<RadzenDataGrid @ref="@Grid" 
                Data="@Receipts"
                TItem="ReceiptDto"
                AllowSorting="true"
                AllowAlternatingRows="true" 
                FilterMode="FilterMode.Simple"
                AllowFiltering="true"
                LogicalFilterOperator="LogicalFilterOperator.Or" 
                AllowPaging="true"
                PagerAlwaysVisible="true" 
                PageSize="5" 
                PageSizeOptions="@PageSizeOptions"
                PagerHorizontalAlign="HorizontalAlign.Center"
                ShowPagingSummary="true"
                EditMode="DataGridEditMode.Single"
                GridLines="DataGridGridLines.Both">
    <HeaderTemplate>
        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle" Text="Dodaj rachunek" Click="@InsertRow"  />
        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="add_circle" Text="Odśwież" Click="@LoadGrid"  />
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn Title="Zarządzanie" Width="12%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="receipt">
                <RadzenButton class="button" Icon="play_arrow" ButtonStyle="ButtonStyle.Primary" />
                <RadzenButton class="button" Icon="edit" ButtonStyle="ButtonStyle.Secondary" Click="@(args => EditRow(receipt))" />
                <RadzenButton class="button" Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@((args) => RemoveRow(receipt.receiptId))" />
            </Template>
            <EditTemplate Context="receipt">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Click="@((args) => SaveRow(receipt))"/>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Danger" Click="@((args) => CancelEdit(receipt))"/>
            </EditTemplate>
            <FilterTemplate>
                <RadzenButton class="button" Icon="filter_alt_off" ButtonStyle="ButtonStyle.Dark" Click="@(args => { Grid.Reset(); })" />
            </FilterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ReceiptDto.settled)" Title="Rozliczono" Width="10%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="receipt">
                <RadzenCheckBox class="button" @bind-Value="@receipt.settled" Change="@(async (bool Check) => await ChangeSettled(receipt.receiptId, receipt.settled))" />
            </Template>
            <EditTemplate Context="receipt">
                <RadzenCheckBox style="opacity: 0.6; " class="button" Value="@receipt.settled" ReadOnly="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ReceiptDto.receiptName)" Title="Nazwa" Width="30%" TextAlign="TextAlign.Start" Frozen="true">
            <EditTemplate Context="receipt">
                <RadzenTextBox @bind-value="receipt.receiptName" Style="width: 100%;"/>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ReceiptDto.date)" Title="Data" Width="20%" TextAlign="TextAlign.Start" Frozen="true" FilterMode="FilterMode.SimpleWithMenu">
            <Template Context="receipt">
                @receipt.date.ToString("dd.MM.yyyy")
            </Template>
            <EditTemplate Context="receipt">
                @{
                    if (receipt.date == default(DateTime))
                        receipt.date = DateTime.Now;
                }
                <RadzenDatePicker @bind-Value="receipt.date" ShowCalendarWeek DateFormat="dd.MM.yyyy" Style="width: 100%;"/>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ReceiptDto.totalAmount)" Title="Kwota" Width="20%" TextAlign="TextAlign.Start" Frozen="true">
            <Template Context="receipt">                
                <div style="color: @(receipt.settled ? "green" : "red")">
                    <b>@(receipt.totalAmount)zł</b>
                </div>
            </Template>
            <EditTemplate>
                -
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

<style>
    .button {
        width: 36px;
        height: 36px;
    }

    .rz-cell-filter-content {
        display: flex;
        justify-content: center
    }
</style>