@using DivvyUp_Shared.AppConstants
@using DivvyUp_Shared.Dto

<RadzenDataGrid @ref="@Grid"
                Data="@Persons"
                TItem="PersonDto"
                AllowSorting="true"
                AllowAlternatingRows="true"
                FilterMode="FilterMode.Simple"
                AllowFiltering="true"
                LogicalFilterOperator="LogicalFilterOperator.Or"
                AllowPaging="true"
                PagerAlwaysVisible="true"
                PageSize="10"
                PageSizeOptions="@PageSizeOptions"
                PagerHorizontalAlign="HorizontalAlign.Center"
                ShowPagingSummary="true"
                EditMode="DataGridEditMode.Single"
                GridLines="DataGridGridLines.Both">
    <HeaderTemplate>
        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="refresh" Text="Odśwież" Click="@LoadGrid" />
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn Title="Zarządzanie" Width="12%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="person">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => EditRow(person))" />
                <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@((args) => RemoveRow(person))" Visible="@(!person.UserAccount)" />
            </Template>
            <EditTemplate Context="person">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Click="@((args) => SaveRow(person))" />
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Danger" Click="@((args) => CancelEdit(person))" />
            </EditTemplate>
            <FilterTemplate>
                <div class="rz-cell-data">
                    <RadzenButton Icon="add_circle" ButtonStyle="ButtonStyle.Success" Click="@InsertRow" />
                    <RadzenButton Icon="filter_alt_off" ButtonStyle="ButtonStyle.Dark" Click="@(args => { Grid.Reset(); })"/>
                </div>
            </FilterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(PersonDto.Name)" Title="Imie" Width="20%" TextAlign="TextAlign.Start" Frozen="true">
            <EditTemplate Context="person">
                <RadzenTextBox @bind-value="@person.Name" Style="width: 100%;" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(PersonDto.Surname)" Title="Nazwisko" Width="20%" TextAlign="TextAlign.Start" Frozen="true">
            <EditTemplate Context="person">
                <RadzenTextBox @bind-value="@person.Surname" Style="width: 100%;" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(PersonDto.LoanBalance)" Title="Bilans pożyczek" Width="13%" TextAlign="TextAlign.Start" Frozen="true">
            <Template Context="person">
                @if (!person.UserAccount)
                {
                    <RadzenButton ButtonStyle="@(person.LoanBalance >= 0 ? ButtonStyle.Success : ButtonStyle.Danger)" Click="async () => { await ManageLoanPerson(person.Id); }">
                        @person.LoanBalance.ToString(Format.PriceFormat)
                    </RadzenButton>
                }
            </Template>
            <EditTemplate>
                -
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(PersonDto.UnpaidAmount)" Title="Kwota aktualna" Width="13%" TextAlign="TextAlign.Start" Frozen="true">
            <Template Context="person">
                <b style="color: @(person.UnpaidAmount > 0 ? "red" : "green")"> @person.UnpaidAmount.ToString(Format.PriceFormat)</b>
            </Template>
            <EditTemplate>
                -
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(PersonDto.TotalAmount)" Title="Kwota łączna" Width="13%" TextAlign="TextAlign.Start" Frozen="true">
            <Template Context="person">
                <b>@person.TotalAmount.ToString(Format.PriceFormat)</b>
            </Template>
            <EditTemplate>
                -
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

<style>
    .button {
        width: 36px;
        height: 36px;
    }

    .rz-cell-filter-content {
        display: flex;
        justify-content: center;
    }

    .rz-data-grid {
        height: 100%;
    }
</style>