@using DivvyUp_Shared.AppConstants
@using DivvyUp_Shared.Dtos.Entity
@using DivvyUp_App.BaseComponents.DLoadingPanel

<DLoadingPanel IsLoading="@IsLoading"/>
<RadzenDataGrid @ref="@Grid"
                Data="@Products"
                TItem="ProductDto"
                AllowSorting="true"
                AllowAlternatingRows="true"
                FilterMode="FilterMode.Simple"
                AllowFiltering="true"
                LogicalFilterOperator="LogicalFilterOperator.Or"
                AllowPaging="true"
                PagerAlwaysVisible="true"
                PageSize="10"
                PageSizeOptions="@PageSizeOptions"
                PagerHorizontalAlign="HorizontalAlign.Center"
                ShowPagingSummary="true"
                EditMode="DataGridEditMode.Single"
                GridLines="DataGridGridLines.Both">
    <HeaderTemplate>
        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="refresh" Text="Odśwież" Click="LoadGrid" />
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="receipt_long" Text="Powrót do rachunków" Click="@(() => { Navigation.NavigateTo("/receipt"); } )" />
    </HeaderTemplate>
    <EmptyTemplate>
        <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">Brak wpisów</p>
    </EmptyTemplate>
    <Columns>
        <RadzenDataGridColumn Title="Zarządzanie" Width="12%" TextAlign="TextAlign.Center" Frozen="true" Sortable="false">
            <HeaderTemplate>
                <RadzenButton Icon="add_circle" ButtonStyle="ButtonStyle.Success" Click="@InsertRow" />
            </HeaderTemplate>
            <Template Context="product">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => EditRow(product))"/>
                <RadzenButton Icon="content_copy" ButtonStyle="ButtonStyle.Info" Click="@((args) => Duplicate(product))"/>
                <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@((args) => RemoveRow(product))"/>
            </Template>
            <EditTemplate Context="product">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Click="@((args) => SaveRow(product))"/>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Danger" Click="@(async (args) => await CancelEdit(product))"/>
            </EditTemplate>
            <FilterTemplate>
                <div class="rz-cell-data">
                    <RadzenButton Icon="filter_alt_off" ButtonStyle="ButtonStyle.Dark" Click="@(args => { Grid.Reset(); })"/>
                </div>
            </FilterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ProductDto.Settled)" Title="Rozliczono" Width="7%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="product">
                <RadzenCheckBox class="grid-button" @bind-Value="@product.Settled" Change="@(async (bool Check) => await ChangeSettled(product.Id, product.Settled))" />
            </Template>
            <EditTemplate Context="product">
                <RadzenCheckBox style="opacity: 0.6; " class="grid-button" Value="@product.Settled" ReadOnly="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ProductDto.Name)" Title="Nazwa" Width="20%" TextAlign="TextAlign.Start" Frozen="true">
            <Template Context="product">
                <div style="@(product.Settled ? Format.IsSettledStyle : Format.IsNotSettledStyle)">
                    @product.Name
                </div>
            </Template>
            <EditTemplate Context="product">
                <RadzenTextBox @bind-value="@product.Name" Style="width: 100%;"/>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ProductDto.Price)" Title="Kwota" Width="12%" TextAlign="TextAlign.Start" Frozen="true">
            <Template Context="product">
                <div style="@(product.Settled ? Format.IsSettledStyle : Format.IsNotSettledStyle)">
                    @product.Price.ToString(Format.PriceFormat)
                </div>
            </Template>
            <EditTemplate Context="product">
                <RadzenNumeric @bind-Value="@product.Price" Style="width: 100%;" Format="@Format.PriceFormat" Min="0" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ProductDto.Divisible)" Title="Podzielność" Width="7%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="product">
                <RadzenButton ButtonStyle="@(ButtonStyle.Base)" Icon="@(product.Divisible ? "groups" : "person")" Click="@(() => { product.Divisible = !product.Divisible; })" Disabled="true" />
            </Template>
            <EditTemplate Context="product">
                <RadzenButton ButtonStyle="@(ButtonStyle.Base)" Icon="@(product.Divisible ? "groups" : "person")" Click="@(() => { product.Divisible = !product.Divisible; })" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ProductDto.MaxQuantity)" Title="Ilość częsci" Width="8%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="product">
                @if (product.Divisible)
                {
                    <div style="@(product.Settled ? Format.IsSettledStyle : Format.IsNotSettledStyle)">
                        @product.MaxQuantity
                    </div>
                }
                else
                {
                    <div>-</div>
                }
            </Template>
            <EditTemplate Context="product">
                @if (product.Divisible)
                {
                    if (product.MaxQuantity == 1)
                    {
                        product.MaxQuantity = 2;
                    }
                    <RadzenNumeric @bind-Value="@product.MaxQuantity" Min="@(product.Id == 0 ? MaxQuantityLimit : 2)" />
                }
                else
                {
                    product.MaxQuantity = 1;
                    <div>-</div>                    
                }
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ProductDto.CompensationPrice)" Title="Wyrównanie" Width="8%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="product">
                @if (product.Divisible && product.CompensationPrice != 0)
                {
                    <div style="@(product.Settled ? Format.IsSettledStyle : Format.IsNotSettledStyle)">
                        @product.CompensationPrice.ToString(Format.PriceFormat)
                    </div>
                }
                else
                {
                    <div>-</div>
                }
            </Template>
            <EditTemplate>
                -
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(ProductDto.Persons)" Title="Osoby" Width="15%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="product">
                @if (product.Divisible)
                {
                    <RadzenButton Click="@(async () => { await ManagePerson(product.Id); })" Style="width: 100%;">

                            <div style="display: flex; flex-direction: column;">
                                @foreach (var person in product.Persons)
                                {
                                    <div>@($"{person.Name} {person.Surname}")</div>
                                }
                            </div>
                    </RadzenButton>
                }
                else
                {
                        PersonDto person = product.Persons.First();

                        <RadzenDropDownDataGrid TValue="PersonDto"
                                                Value="person"
                                                ValueChanged="async(PersonDto person) => await OnPersonChange(product.Id, person)"
                                                Data="@Persons"
                                                TextProperty="@nameof(PersonDto.FullName)"
                                                Style="width: 100%;"/>
                }
            </Template>
            <EditTemplate Context="product">
                @if (!product.Divisible)
                {
                    <RadzenDropDownDataGrid TValue="PersonDto"
                                            Value="@SelectedPerson"
                                            ValueChanged="OnPersonSet"
                                            Data="@Persons"
                                            TextProperty="@nameof(PersonDto.FullName)"
                                            Style="width: 100%;"
                                            SearchTextPlaceholder="Nazwa"
                                            EmptyText="Brak osób" />
                }
                else
                {
                    @if (product.Divisible && product.Id == 0)
                    {
                        <RadzenButton Click="@(async () => { await SelectPersons(product); })" Style="width: 100%;">

                            <div style="display: flex; flex-direction: column;">
                                @foreach (var person in SelectedPersons)
                                {
                                    <div>@($"{person.Name} {person.Surname}")</div>
                                }
                            </div>
                        </RadzenButton>
                    }
                    else
                    {
                        <div>-</div>
                    }
                }
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>