@using DivvyUp_Shared.Dto

<RadzenDataGrid @ref="@Grid"
                Data="@PersonItems"
                TItem="PersonItemShareDto"
                AllowSorting="true"
                AllowAlternatingRows="true"
                FilterMode="FilterMode.Simple"
                AllowFiltering="true"
                LogicalFilterOperator="LogicalFilterOperator.Or"
                AllowPaging="true"
                PagerAlwaysVisible="true"
                PageSize="5"
                PageSizeOptions="@PageSizeOptions"
                PagerHorizontalAlign="HorizontalAlign.Center"
                ShowPagingSummary="true"
                EditMode="DataGridEditMode.Single"
                GridLines="DataGridGridLines.Both">
    <HeaderTemplate>
        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle" Text="Przypisz osobę" Click="@InsertRow" />
        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="add_circle" Text="Odśwież" Click="@LoadGrid" />
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn Title="Zarządzanie" Width="12%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="personItem">
                @*<RadzenButton class="button" Icon="edit" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => EditRow(personItem))" />*@
                <RadzenButton class="button" Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@((args) => RemoveRow(personItem.id))" />
            </Template>
            <EditTemplate Context="personItem">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Click="@((args) => SaveRow(personItem))" />
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Danger" Click="@((args) => CancelEdit(personItem))" />
            </EditTemplate>
            <FilterTemplate>
                <RadzenButton class="button" Icon="filter_alt_off" ButtonStyle="ButtonStyle.Dark" Click="@(args => { Grid.Reset(); })" />
            </FilterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(PersonItemShareDto.settled)" Title="Rozliczono" Width="7%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="personItem">
                <RadzenCheckBox class="button" @bind-Value="@personItem.settled" Change="@(async (bool check) => await ChangeSettled(personItem.id, personItem.settled))" />
            </Template>
            <EditTemplate Context="personItem">
                <RadzenCheckBox style="opacity: 0.6; " class="button" Value="@personItem.settled" ReadOnly="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(PersonItemShareDto.compensation)" Title="Wyrównanie" Width="7%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="personItem">
                <RadzenCheckBox class="button" @bind-Value="@personItem.compensation" Change="@(async (bool check) => await ChangeCompensation(personItem.id))" />
            </Template>
            <EditTemplate Context="personItem">
                <RadzenCheckBox style="opacity: 0.6; " class="button" Value="@personItem.compensation" ReadOnly="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(PersonItemShareDto.quantity)" Title="Ilośc" Width="7%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="personItem">
                @($"{personItem.quantity}/{Item.maxQuantity}")
            </Template>
            <EditTemplate Context="personItem">
                @if (personItem.quantity == 0)
                {
                    personItem.quantity = CountLastPart();
                }
                <RadzenNumeric @bind-Value="@personItem.quantity" Min="1" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(PersonItemShareDto.partOfPrice)" Title="Cena" Width="7%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="personItem">
                @personItem.partOfPrice.ToString("0.00zł")
            </Template>
            <EditTemplate Context="personItem">
                -
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(PersonItemShareDto.personId)" Title="Osoba" Width="7%" TextAlign="TextAlign.Center" Frozen="true">
            <Template Context="personItem">
                @if (Persons != null && Persons.Count > 0)
                {
                    PersonDto person = Persons.FirstOrDefault(e => e.id == personItem.personId);
                    <div>@(person != null ? person.name : "-")</div>
                }
                else
                {
                    <div>-</div>
                }
            </Template>
    
            <EditTemplate Context="personItem">
                <RadzenDropDownDataGrid
                    TValue="int"
                    @bind-Value="personItem.personId"
                    Data="@Persons"
                    TextProperty="@nameof(PersonDto.name)"
                    ValueProperty="@nameof(PersonDto.id)" />
            </EditTemplate>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>
                
<style>
    .button {
        width: 36px;
        height: 36px;
    }

    .rz-cell-filter-content {
        display: flex;
        justify-content: center
    }
</style>
